<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<App>
    <Config>
        <Property name="CentreDesignator">VVNB</Property>
        <Property name="CentreName">HANOI</Property>
        <Property name="PermissibleUsage">OPERATIONAL</Property>
        <Property name="PermissibleUsageReason">TEST</Property>
        <Property name="PermissibleUsageSupplementary">AMHS SWIM Gateway Conversion</Property>
        <Property name="AddTacContent">true</Property>
    </Config>

    <Airports>
        <Airport icaoDesignator="VVNB" name="HANOI/NOI BAI INTL">
            <ElevatedPoint srsName="http://www.opengis.net/def/crs/EPSG/0/4326" srsDimension="2" verticalDatum="EGM_96" elevationValue="12.3" elevationUOM="M">
                <pos>21.2212 105.8072</pos>
                <axisLabel>Lat</axisLabel>
                <axisLabel>Long</axisLabel>
            </ElevatedPoint>
            <Runway designator="11L" trueBearing="110"/>
            <Runway designator="29R" trueBearing="290"/>
        </Airport>
        <Airport icaoDesignator="VVTS" name="HO CHI MINH/TAN SON NHAT INTL">
            <ElevatedPoint srsName="http://www.opengis.net/def/crs/EPSG/0/4326" srsDimension="2" verticalDatum="EGM_96" elevationValue="10.0" elevationUOM="M">
                <pos>10.8188 106.6519</pos>
                <axisLabel>Lat</axisLabel>
                <axisLabel>Long</axisLabel>
            </ElevatedPoint>
        </Airport>
        <Airport icaoDesignator="VVDN" name="DA NANG INTL">
            <ElevatedPoint srsName="http://www.opengis.net/def/crs/EPSG/0/4326" srsDimension="2" verticalDatum="EGM_96" elevationValue="11.0" elevationUOM="M">
                <pos>16.0439 108.1994</pos>
                <axisLabel>Lat</axisLabel>
                <axisLabel>Long</axisLabel>
            </ElevatedPoint>
        </Airport>
    </Airports>
</App>
